/* -- BREAKPOINTS -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\000034}}
.environment-switcher-container {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000348}}
h1, .page-title {
  color: #6e1c1e;
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 500;
  margin: 0;
  line-height: 1;
  margin: 0;
}
@media all and (max-width: 760px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000348}}
  h1, .page-title {
    font-size: 30px;
    padding-bottom: 15px;
  }
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000348}}
  h1, .page-title {
    font-size: 40px;
  }
}
@media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000348}}
  h1, .page-title {
    font-size: 47px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000365}}
h2 {
  color: #6e1c1e;
  font-family: "brandon-grotesque",sans-serif;
  margin: 0;
}
@media all and (max-width: 760px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000365}}
  h2 {
    font-size: 20px;
  }
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000365}}
  h2 {
    font-size: 23px;
  }
}
@media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000365}}
  h2 {
    font-size: 33px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000380}}
h3, h3.sub-title {
  color: #777777;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 28px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}
@media all and (max-width: 760px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000380}}
  h3, h3.sub-title {
    font-size: 19px;
  }
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000380}}
  h3, h3.sub-title {
    font-size: 24px;
  }
}
@media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000380}}
  h3, h3.sub-title {
    font-size: 28px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000398}}
h4 {
  color: #6e1c1e;
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 300;
  margin: 0;
}
@media all and (max-width: 760px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000398}}
  h4 {
    font-size: 25px;
  }
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000398}}
  h4 {
    font-size: 30px;
  }
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\0000398}}
  h4 {
    font-size: 35px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003114}}
h5 {
  font-size: 26px;
  margin: 0;
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003120}}
h6 {
  margin: 0;
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003126}}
p, span, li, label, select, div {
  color: #777777;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 400;
}
@media all and (max-width: 760px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003126}}
  p, span, li, label, select, div {
    font-size: 16px;
  }
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003126}}
  p, span, li, label, select, div {
    font-size: 18px;
  }
}
@media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003126}}
  p, span, li, label, select, div {
    font-size: 20px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003139}}
p {
  padding: 0;
  margin: 0 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003143}}
ul li, ol li {
  padding-bottom: 5px;
  font-size: 18px;
}
@media all and (max-width: 760px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003143}}
  ul li, ol li {
    font-size: 15px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003150}}
p a {
  color: #6e1c1e;
  font-family: "brandon-grotesque",sans-serif;
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003160}}
.read-more-btn a {
  background: #6e1c1e;
  padding: 7px 25px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  border-radius: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003168}}
.read-more-btn a:hover {
  background: #f9cd87;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003176}}
.read-more-link a {
  padding: 15px 0;
  color: #6e1c1e;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003190}}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* -- Pager -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003202}}
.pager {
  padding: 0;
  margin: 20px 0;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003206}}
.pager li {
  display: inline-block;
  list-style: none;
  padding: 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003213}}
.pager li a {
  color: #6e1c1e;
  text-decoration: none;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003221}}
.note {
  font-size: 17px;
  margin: 15px 0px 35px;
  color: #A0A0A0;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003228}}
.image-half-width-insert {
  width: 100% !important;
  height: auto !important;
  padding: 10px !important;
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/styleguide\/type\/typography\.scss}line{font-family:\00003228}}
  .image-half-width-insert {
    width: 50% !important;
  }
}
