@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/variant\/public_html\/beta\/sites\/all\/themes\/vs\/sass\/partials\/modules\/content\.scss}line{font-family:\000032}}
.content blockquote {
  margin: 25px 0;
  padding: 20px;
  background-color: #f5f5f5;
}
