@import 'partials/global/variables';
@import 'partials/global/mixins';
@import 'partials/global/sprites';

.hidden-search {
    margin-top: -132px;
    height: 131px;
		width: 100%;
    background: #E7E7E7;
    z-index: 1000;
    -webkit-transition: margin-top 1s;
    -moz-transition: margin-top 1s;
    border-bottom: 2px solid #fff;
    @include breakpoints(tablet) {
	    margin-top: -201px;
	    height: 200px;
	    background: #E7E7E7;
	    border: 0;
    }
    input[type='search'] {  
	    width: 100%;
	    border: 0;
	    margin: 20px auto 10px;
	    padding: 10px 10px;
	    max-width: 100%;
	    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
}

.hidden-search.show {
	margin-top: 0px;
	-webkit-transition: margin-top 1s;
  -moz-transition: margin-top 1s;
}

.search-trigger {
	cursor: pointer;
	@include breakpoints(tablet) {
		
	}
}

.menu-wrap {
  .search-button {
  	@include breakpoint($phone) {
  		display: none;
  	}	
  	
  	@include breakpoint($tablet) {
  	  @include animate-all-on-hover;
  		float: right;
  		background-color: $color-one;
  		padding: 12px 12px 0px;
  	}
  	
  	@include breakpoint($desktop) {
  		padding: 16px 12px 7px;
  	}
  	
  	.search-trigger {
    	@include breakpoint($tablet) {
  		  @include hide-text;
  			@include get-sprite($icons, search-button);			
  			display: inline-block;
			}
		}
		.search-trigger.show {
  		@include breakpoint($tablet) {
  		 	@include get-sprite($icons, search-close);
		 	}
	 	}
	 	
  }
}





.search-show {
	.search-button {
		@include breakpoints(tablet) {
		  @include animate-all-on-hover;
			background-color: $color-two;
		}
	}
}


.hidden-search {
  .block-search {
  	@include breakpoints(phone) { 
  		input[type="submit"], #edit-submit {
  			background: $color-two;
  			color: #fff;
  		}
  	}
  	@include breakpoints(tablet) {
  	
  		input[type="search"] {
  			padding: 24px 30px;
  			font-size: 30px;
  			margin: 54px auto 10px;
  		}
  	
  	  .container-inline {
  		  position: relative;
  	  }
  	  #edit-actions, #edit-actions--2, #edit-actions--3, #edit-actions--4 {		  
  	    position: absolute;
  	    display: block;
  	    right: 0;
  	    top: 53px;
  	    height: 85px;
  	    width: 85px;
  	    background: $color-one;
  	    input[type="submit"] {
  	      @include hide-text;
  	      padding: 0;
  	      margin: 29px;
  				@include get-sprite($icons, desktop-search);
  			}
  	  }
  		input[type="submit"] {
  			@include get-sprite($icons, desktop-search);
  		}
  	}
  }
}

/* FN */
.search-form {
	input {
		width: auto;
		margin:  0 10px;
	}
}