@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.8\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_box-sizing\.scss}line{font-family:\0000334}}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.8\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_box-sizing\.scss}line{font-family:\0000336}}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.8\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_fluid-media\.scss}line{font-family:\000034}}
img, video {
  max-width: 100%;
  height: auto;
}

/* -- BREAKPOINTS -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/variant\/public_html\/beta\/sites\/all\/themes\/vs\/sass\/partials\/global\/_extendables\.scss}line{font-family:\0000314}}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/variant\/public_html\/beta\/sites\/all\/themes\/vs\/sass\/partials\/global\/_extendables\.scss}line{font-family:\0000319}}
.clearfix:after {
  clear: both;
}

/* -- BREAKPOINTS -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/variant\/public_html\/beta\/sites\/all\/themes\/vs\/icons\/\*\.png}line{font-family:\0000358}}
.icons-sprite, #navtoggle span {
  background: url('../../../../images/icons-see36578b11.png') no-repeat;
}

@media all and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/variant\/public_html\/beta\/sites\/all\/themes\/vs\/sass\/partials\/modules\/navigation\/mobile-nav\.scss}line{font-family:\000037}}
  nav ul {
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/variant\/public_html\/beta\/sites\/all\/themes\/vs\/sass\/partials\/modules\/navigation\/mobile-nav\.scss}line{font-family:\0000314}}
#navtoggle {
  position: absolute;
  top: 10px;
  z-index: 999;
  display: block;
  left: auto;
}
@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/variant\/public_html\/beta\/sites\/all\/themes\/vs\/sass\/partials\/modules\/navigation\/mobile-nav\.scss}line{font-family:\0000314}}
  #navtoggle {
    right: 0;
    top: 65px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/variant\/public_html\/beta\/sites\/all\/themes\/vs\/sass\/partials\/modules\/navigation\/mobile-nav\.scss}line{font-family:\0000324}}
#navtoggle span {
  display: block;
  height: 31px;
  width: 31px;
  background-position: 0 -71px;
}

@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/variant\/public_html\/beta\/sites\/all\/themes\/vs\/sass\/partials\/modules\/navigation\/mobile-nav\.scss}line{font-family:\0000333}}
  .mobile-bar {
    position: relative;
  }
}
@media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/variant\/public_html\/beta\/sites\/all\/themes\/vs\/sass\/partials\/modules\/navigation\/mobile-nav\.scss}line{font-family:\0000333}}
  .mobile-bar {
    display: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/variant\/public_html\/beta\/sites\/all\/themes\/vs\/sass\/partials\/modules\/navigation\/mobile-nav\.scss}line{font-family:\0000342}}
#jPanelMenu-menu {
  background: #000;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/variant\/public_html\/beta\/sites\/all\/themes\/vs\/sass\/partials\/modules\/navigation\/mobile-nav\.scss}line{font-family:\0000347}}
#jPanelMenu-menu li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 5px 10px;
}
