@import 'partials/global/base';
@import 'partials/global/mixins';
@import 'partials/global/variables';

#admin-menu, #admin-menu .dropdown, #admin-menu ul li, #admin-menu a     {
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 13px !important;
	line-height: 1;
}



.contextual-links, .contextual-links li, .contextual-links a {
	font-family: "Lucida Grande", Verdana, sans-serif !important; 
	font-size: 13px !important;
	line-height: 1 !important;
	background-color: #fff;
}

#tabs {
	ul.tabs.primary {
		margin: 0 0 30px;
		padding: 0;
		li {
			padding-bottom: 0;
			display: inline-block;
			a {
				margin-right: 0;
				padding: 5px 24px 3px;
				border-radius: 3px 3px 0 0;
				color: #222;
				&.active {
					background: #fff;
					color: #777;
				}
			}
		}
	}
}


div.messages {
	background-position-y: center;
	padding: 10px 10px 10px 65px;
	background-position: 15px 8px;
	li {
		margin: 0;
		padding: 0;
	}
}

