/* -- BREAKPOINTS -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/modules\/navigation\/sub-nav\.scss}line{font-family:\000035}}
.sub-menu h2 {
  line-height: 1;
  padding-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/modules\/navigation\/sub-nav\.scss}line{font-family:\000039}}
.sub-menu ul {
  padding: 0 20px 0 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/modules\/navigation\/sub-nav\.scss}line{font-family:\0000312}}
.sub-menu ul ul {
  padding: 5px 15px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/modules\/navigation\/sub-nav\.scss}line{font-family:\0000315}}
.sub-menu ul li {
  padding: 0 0 6px;
  margin: 0;
  list-style: none;
  line-height: 1.7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gastro\/beta-ver-1\/sites\/all\/themes\/gastro\/sass\/partials\/modules\/navigation\/sub-nav\.scss}line{font-family:\0000320}}
.sub-menu ul li a {
  color: #777777;
  text-decoration: none;
  font-size: 17px;
}
